<!DOCTYPE html>
<html>
<head>	
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi" />

	<title>App-o-Mat</title>

	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="lib/jquery-mobile/css/jquery.mobile-1.4.0.min.css" />
	
	<script type="text/javascript" src="lib/jquery-mobile/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $(document).on("mobileinit", function(){
                         $.support.cors = true;
                         $.mobile.allowCrossDomainPages = true;
                         });
    </script>
    
	<script type="text/javascript" src="lib/jquery-mobile-router/js/jquery.mobile.router.min.js"></script>
	<script type="text/javascript" src="lib/jquery-mobile/js/jquery.mobile-1.4.0.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</head>

<body>

<!-- DATA INPUT -->


<!--home page-->
<div data-role="page" id="home">
	<div data-role="header" data-position="fixed">
		<h1>Foodz</h1>
		<a href="#calendar" data-icon="calendar" data-transition="slideup" class="ui-btn-left">Calendar</a>
	</div>

	<div role="main" class="ui-content">
		<form action="#" method="post" id="food-search">
			<div class="ui-field-contain">
				<input type="text" name="q" placeholder="Watcha eat?" value="" />
				<input type="number" step="1" name="amt" placeholder="Amount (g)" value="" />
				<button type="submit" class="ui-shadow ui-btn ui-corner-all">nom nom</button>
			</div>
		</form>
	    <select id="input-sex" data-role="flipswitch">
	    	<option value="M">M</option>
	    	<option value="F">F</option>
	    </select>
	</div>
</div>


<!--search results-->
<div data-role="page" id="food-search">
	<div data-role="header" data-position="fixed">
		<h1>Search results</h1>
		<a href="#home" data-transition="slide" data-direction="reverse" data-icon="arrow-l" class="ui-btn-left">Home</a>
	</div>

	<div role="main" class="ui-content">
	    <ul data-role="listview" id="food-list">
	    </ul>
	</div>
</div>

<script id="food-list-template" type="text/x-handlebars-template">
	{{#.}}
	<li data-group="{{group}}">
		<a style="font-size:10px;" href="#food-data?{{@index}}" data-transition="slide">{{description}}</a>
	</li>
	{{/.}}
</script>


<!--food data-->
<div data-role="page" id="food-data">
	<div data-role="header" data-position="fixed">
		<h1>Food</h1>
		<a href="#food-search" data-transition="slide" data-direction="reverse" data-icon="arrow-l" class="ui-btn-left">Search</a>
		<a id="add-button" data-icon="plus" class="ui-btn-right">Add</a>
	</div>

	<div role="main" class="ui-content">
		<h4 id="food-name"></h4>
		<ul data-role="listview" id="food-content">
	    </ul>
	</div>
</div>

<script id="food-name-template" type="text/x-handlebars-template">
	{{description}}
</script>

<script id="food-content-template" type="text/x-handlebars-template">
	{{#.}}
	<li data-group="{{group}}">
		<div class="ui-grid-a" style="font-size:12px;">
			<div class="ui-block-a">{{nuKey}} ({{units}})</div>
			<div class="ui-block-b" style="text-align:right">{{nuVal}}</div>
		</div>
	</li>
	{{/.}}
</script>


<!-- CALENDAR -->

<!--calendar-->
<div data-role="page" id="calendar">
	<div data-role="header" data-position="fixed">
		<h1>Foodz</h1>
		<a href="#home" data-transition="slideup" data-direction="reverse" data-icon="home" class="ui-btn-left">Home</a>
	</div>

	<div role="main" class="ui-content">
		<ul data-role="listview" id="calendar-dates">
	    </ul>
	</div>
</div>

<script id="calendar-dates-template" type="text/x-handlebars-template">
	{{#.}}
	<li><a href="#summary?{{timestamp}}" data-transition="slide">{{date}}</a></li>
	{{/.}}
</script>


<!--day nutrients-->
<div data-role="page" id="summary">
	<div data-role="header" data-position="fixed">
		<h1>Tahday</h1>
		<a href="#home" data-transition="slideup" data-direction="reverse" data-icon="home" class="ui-btn-left">Home</a>
		<a href="#menu" data-transition="slide" data-icon="bars" class="ui-btn-right">Menu</a>
	</div>

	<div role="main" class="ui-content">
		<ul data-role="listview" id="day-summary">
	    </ul>
	</div>
</div>

<script id="day-summary-template" type="text/x-handlebars-template">
	{{#.}}
	<li data-group="{{group}}" style="{{style}}">
		<div class="ui-grid-a" style="font-size:12px;">
			<div class="ui-block-a" style="font-weight:bold">{{nuKey}}</div>
			<div class="ui-block-b" style="text-align:right">{{nuVal}} %</div>
		</div>
	</li>
	{{/.}}
</script>


<!--day food history-->
<div data-role="page" id="menu">
	<div data-role="header" data-position="fixed">
		<h1>Watcha eat!</h1>
		<a data-rel="back" data-transition="slide" data-direction="reverse" data-icon="arrow-l" class="ui-btn-left">RDAz</a>
	</div>

	<div role="main" class="ui-content">
		<ul data-role="listview" id="day-menu" data-split-icon="delete" data-split-theme="a">>
	    </ul>
	</div>
</div>

<script id="day-menu-template" type="text/x-handlebars-template">
	{{#.}}
	<li data-timestamp="{{timestamp}}" style="{{style}}">
		<a href="#">
			<div class="ui-grid-a" style="font-size:12px;">
				<div class="ui-block-a" style="overflow:hidden;text-overflow:ellipsis;width:80%">
					{{description}}
				</div>
				<div class="ui-block-b" style="text-align:right;width:20%">{{amount}}g</div>
			</div>
		</a>
		<a class="delete-food">Delete</a>
	</li>
	{{/.}}
</script>






<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="lib/fastclick/js/fastclick.js"></script>
<script type="text/javascript" src="lib/handlebars/js/handlebars-v1.3.0.js"></script>
<script type="text/javascript">
	foodz.app.initialize();
</script>

</body>
</html>
